.highlevel-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing);
}

.highlevel-stats__column {
  padding-block: calc(var(--spacing));
  padding-inline: calc(var(--spacing) * 3);
  display: flex;
  flex-direction: column;
}

.highlevel-stats__column.--with-sep {
  border-left: 1px solid var(--color-secondary);
}

.highlevel-stats__list {
  padding-block: calc(var(--spacing) * 2);
  font-size: var(--text-s);
}

.highlevel-stats__list-heading {
  color: var(--color-trace-other);
  font-size: var(--text-s);
}
