.timeline {
  min-width: max-content;
}

.timeline__title {
  margin-block-end: calc(var(--spacing) * 3);
}

.timeline__events-container {
  display: flex;
  gap: var(--spacing);
}

.timeline__entry {
  white-space: nowrap;
  display: flex;
}

.timeline__entry-lane {
  padding-left: 2px;
  border-left: 1px dotted var(--color-secondary);
}

.timeline__entry-event {
  background-color: red;
  color: black;
  overflow: hidden;
  display: inline-block;
  border-left: 1px solid black;
  margin-bottom: 1px;
  font-size: var(--text-xs);
}

.timeline__entry-event:hover {
  cursor: pointer;
}

.timeline__entry-event[data-event-type="ParseHTML"],
.timeline__entry-event[data-event-type="ParseAuthorStyleSheet"] {
  background-color: #4c8df6;
}

.timeline__entry-event[data-event-type="FunctionCall"],
.timeline__entry-event[data-event-type="EvaluateScript"],
.timeline__entry-event[data-event-type="ScriptCompiled"],
.timeline__entry-event[data-event-type="FireAnimationFrame"],
.timeline__entry-event[data-event-type="TimerFire"],
.timeline__entry-event[data-event-type="v8.run"],
.timeline__entry-event[data-event-type="v8.compile"],
.timeline__entry-event[data-event-type="FireIdleCallback"] {
  background-color: #facc15;
}

.timeline__entry-event[data-event-type="Paint"] {
  background-color: #37be5f;
}

.timeline__entry-event[data-event-type="Layout"],
.timeline__entry-event[data-event-type="Layerize"],
.timeline__entry-event[data-event-type="UpdateLayoutTree"],
.timeline__entry-event[data-event-type="PrePaint"] {
  background-color: #bf67ff;
}

.timeline__entry-event[data-event-type="PaintImage"] {
  background-color: #757575;
}

.timeline__entry-event[data-event-type="MajorGC"],
.timeline__entry-event[data-event-type="MinorGC"] {
  background-color: #f00;
}
