.timeline {
  min-width: max-content;
}

.timeline__title {
  margin-block-end: calc(var(--spacing) * 3);
}

.timeline__events-container {
  display: flex;
  gap: var(--spacing);
}

.timeline__entry {
  white-space: nowrap;
  display: flex;
}

.timeline__entry-lane {
  padding-left: 2px;
  border-left: 1px dotted var(--color-secondary);
}

.timeline__entry-event {
  background-color: #757575;
  color: black;
  overflow: hidden;
  display: inline-block;
  border-left: 1px solid black;
  margin-bottom: 1px;
  font-size: var(--text-xs);
}

.timeline__entry-event:hover {
  cursor: pointer;
}

.timeline__entry-event[data-event-type="ParseHTML"],
.timeline__entry-event[data-event-type="ParseAuthorStyleSheet"] {
  background-color: var(--color-trace-parsing);
}

.timeline__entry-event[data-event-type="FunctionCall"],
.timeline__entry-event[data-event-type="EvaluateScript"],
.timeline__entry-event[data-event-type="ScriptCompiled"],
.timeline__entry-event[data-event-type="FireAnimationFrame"],
.timeline__entry-event[data-event-type="TimerFire"],
.timeline__entry-event[data-event-type="v8.run"],
.timeline__entry-event[data-event-type="v8.compile"],
.timeline__entry-event[data-event-type="FireIdleCallback"] {
  background-color: var(--color-trace-scripting);
}

.timeline__entry-event[data-event-type="Paint"] {
  background-color: var(--color-trace-paint);
}

.timeline__entry-event[data-event-type="Layout"],
.timeline__entry-event[data-event-type="Layerize"],
.timeline__entry-event[data-event-type="UpdateLayoutTree"],
.timeline__entry-event[data-event-type="PrePaint"] {
  background-color: var(--color-trace-layout);
}

.timeline__entry-event[data-event-type="MajorGC"],
.timeline__entry-event[data-event-type="MinorGC"] {
  background-color: var(--color-trace-gc);
}

.--unique {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 2px,
    rgba(255, 0, 0, 0.7) 2px,
    rgba(255, 0, 0, 0.7) 4px
  );
  outline: 2px solid var(--color-destructive-foreground);
  outline-offset: -1px;
}

.--selected {
  outline: 2px solid #00e1ff;
  box-shadow: 0 0 8px 2px rgba(0, 225, 255, 0.6);
  outline-offset: -1px;
}
